* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: rgb(80, 87, 87);
}
h1 {
    background-color: rgb(50, 52, 55);
    color: rgb(193, 196, 198);
}
nav {
    background-color: rgb(50, 52, 55);
    color: rgb(145, 147, 148);
}
footer {
    color: rgb(193, 196, 198);
    width: 100%;
}
nav {
    color: white;
}
h1 {
    margin: 20px;
    border: dotted;
}
img {
    max-width: 70%;
    display: block;
}
li {
    background-color: rgb(150, 146, 146);
}
a:hover {
    background-color: darkgray;
}
.foot {
    background-color: #990000;
    border-style: solid;
}