* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 87, 87);
    background-image: url(afbeeldingen/pngtree-racing-car-is-going-at-speeds-down-an-asphalt-racetrack-picture-image_3413956.jpg);
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

p {
    color: white;
    padding-left: 1.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgb(50, 52, 55);
    text-align: center;
}

.homeflex {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    text-align: center;
}

.homeflex img {
    width: 60%;
    height: 60%;
}

.aeroflex {
    display: flex;
    text-align: center;
}

.aeroflex img {
    width: 60%;
    height: 60%;
}

.interieurflex {
    display: flex;
    text-align: center;
}

.interieurflex img {
    height: 60%;
    width: 60%;
}

nav a:hover {
    background-color: rgb(80, 80, 80);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    background-color: rgb(50, 52, 55);
    float: left;
}

ul {
    list-style-type: none;
    width: 100%;
    top: 0;
    border: 1px solid #555;
    overflow: hidden;
    background-color: rgb(50, 52, 55);
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li:last-child {
    float: right;
}

footer {
    color: rgb(193, 196, 198);
    width: 100%;
    text-align: center;
}

footer {
    background-color: #990000;
    border-style: solid;
}

.active {
    background-color: #990000;
    color: white;
}

img {
    padding-top: 3px;
    padding-right: 7px;
}

